<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kaneri.admin.mywhatsapp">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"></uses-permission>

    <application
        android:allowBackup="true"
        android:label="Final Chat app"
        android:supportsRtl="true"
        android:logo="@drawable/logo"
        android:icon="@drawable/logo"
        android:roundIcon="@drawable/logo"
        android:theme="@style/AppTheme">
        <activity android:name=".finalchatapp.MainActivity" />
        <activity
            android:name=".finalchatapp.SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".finalchatapp.Login"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".finalchatapp.Register"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".finalchatapp.UserListingActivity"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".finalchatapp.ResetPassword"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".settings.SettingsActivity"
            android:parentActivityName=".finalchatapp.UserListingActivity" />
        <activity
            android:name=".settings.DeleteProfile"
            android:parentActivityName=".settings.SettingsActivity" />
        <activity android:name=".settings.ChangePassword" />
        <activity android:name=".settings.ChangeEmail" />
        <activity
            android:name=".chat.ChatRoom"
            android:parentActivityName=".finalchatapp.UserListingActivity" />
        <activity android:name=".chat.GroupCreator"
            android:parentActivityName=".finalchatapp.UserListingActivity">

        </activity>

        <activity android:name=".chat.GroupChatRoom"
            android:parentActivityName=".finalchatapp.UserListingActivity">
        </activity>


    </application>

</manifest>